### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**//nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### MacOS ###
**/.DS_Store

### misc ###
**/target
**/HELP.md

### webcase ###
**/db/
# webcase-db-service-dataset: e.g. nmrshiftdb file
backend/webcase-db-service-dataset/data/nmrshiftdb
# webcase-db-service-hosecode: e.g. nmrshiftdb file
backend/webcase-db-service-hosecode/data/nmrshiftdb
# webcase-pylsd: custom filters but allow default ones
backend/webcase-pylsd/data/lsd

