### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**//nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### MacOS ###
**/.DS_Store

### misc ###
**/target
**/HELP.md

### sherlock ###
**/db/
# sherlock-db-service-dataset: e.g. nmrshiftdb file
backend/sherlock-db-service-dataset/data/nmrshiftdb
backend/sherlock-db-service-dataset/data/coconut
# sherlock-pylsd: custom filters but allow default ones
backend/sherlock-pylsd/data/lsd

