### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**//nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### MacOS ###
**/.DS_Store

### misc ###
**/target
**/HELP.md

### sherlock ###
**/db/
# sherlock-db-service-dataset: e.g. nmrshiftdb or COCONUT file(s)
backend/sherlock-db-service-dataset/data
# sherlock-pylsd: allow custom filters but ignore default ones in lsd folder
backend/sherlock-core/data/lsd
# sherlock-pylsd: HOSE code map for spectra prediction
backend/sherlock-core/data/hosecode
# sherlock-db-instance-fragment: zipped fragments library
backend/db-instance-fragment/data/db/fragment.tar.gz

