VERSION="v1.2.0"
# server settings
PORT=8080
HOSTNAME="localhost"
CONTEXT_PATH="/"
# security
SPRING_SECURITY_USER_NAME="admin"
SPRING_SECURITY_USER_PASSWORD="password"
SHERLOCK_CORS_ALLOWED_ORIGIN_PATTERNS="http://localhost:*,http://127.0.0.1:*"