VERSION="v1.2.0"

# server settings
PORT=8080
HOSTNAME="localhost"
CONTEXT_PATH="/"

# security
SPRING_SECURITY_USER_NAME="admin"
SPRING_SECURITY_USER_PASSWORD="password"
SHERLOCK_CORS_ALLOWED_ORIGIN_PATTERNS="http://localhost:*,http://127.0.0.1:*"

## volume mounts
# # NMRShiftDB dataset path
# DATASET_NMRSHIFTDB_PATH="./data/nmrshiftdb"
# # directory path for databases containing spectral predictions via ACD/Labs
# DATASET_ACD_LABS_PREDICTIONS_PATH="./data/acd_labs_predictions"

# # custom filters
# CUSTOM_FILTERS_PATH="./data/lsd/filters"